#include <winver.h>

1 VERSIONINFO
FILEVERSION             1,2,3,0
PRODUCTVERSION        	1,2,3,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILETYPE                VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "RIFE-ncnn-Vulkan filter."
        VALUE "FileDescription",  "RIFE for AviSynth+."
        VALUE "FileVersion",      "1.2.3"
        VALUE "InternalName",     "RIFE"
        VALUE "OriginalFilename", "RIFE.dll"
        VALUE "ProductName",      "RIFE"
        VALUE "ProductVersion",   "1.2.3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
